#animacion {
    
    width: 720px;
    height: 320px;
    background-image: url(img/background.png);
    position: relative;
    overflow: hidden;
}

#background {
    
    position: absolute;
    width: 1450px;
    height: 300px;
    display: inline-block;
    animation-name: nubesAnimation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: nubesAnimation;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
    
}

#bg1 {
    
    display: inline-block;
    position: relative;
    height: 300px;
    width: 720px;
}

#bg2 {
    
    display: inline-block;
    position: relative;
    height: 300px;
    width: 720px;
	
}

.nube1 {
    
    position: absolute;
	left: 50px;
    top: 10px;
    display: inline-block;
}

.nube2 {
    
    position: absolute;
    left: 325px;
    top: 80px;
    display: inline-block;
	
}

.nube3 {
    
    position: absolute;
    left: 550px;
    top: 0px;
    display: inline-block;
	
}

#barco {
    
    position: relative;
    width: 250px;
    height: 250px;
    top: 50px;
    left: 0px;
    
    -webkit-animation-name: barcoAnimation;
    -webkit-animation-duration: 4s;    
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: barcoAnimation;
    animation-duration: 4s;    
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    
	
}

#barcoimg {
    
    position: absolute;
    top: 25px;
    
    -webkit-animation-name: entradaAnimation;
    -webkit-animation-duration: 3s;    
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-name: entradaAnimation;
    animation-duration: 3s;    
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
	
}

#interrogacion {
    
    left: 200px;
	position: absolute;
    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    
}

#aguafondo {
	
    position: absolute;
    background-image: url(img/agua-fondo.png);
    background-repeat: repeat-x;
    z-index: 4;
    width: 775px;
    height: 84px;
    left: -22px;
    top: 250px;
    
    animation-name: aguaAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    -webkit-animation-name: aguaAnimation;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

}

#agua {
    
    position: absolute;
    background-image: url(img/agua-frente.png);
    background-repeat: repeat-x;
    z-index: 5;
    width: 775px;
    height: 158px;
    left: -25px;
    top: 250px;
    
    animation-name: aguaAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;

    -webkit-animation-name: aguaAnimation;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate-reverse;
    -webkit-animation-timing-function: linear;
	
}

#mensaje {
	color: blue;
    width: 300px;
    height: 150px;
    top: 100px;
    left: 300px;
    text-align: center;
    font-size: 3em;
    position: absolute;
    z-index: 6;
    opacity: 0;
    
    animation-name: fadein;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    
}

-webkit-@keyframes nubesAnimation{
    
    from {left: 0px;}
    to {left: -720px;}
    
}

@keyframes nubesAnimation{
    
    from {left: 0px;}
    to {left: -720px;}
    
}

-webkit-@keyframes entradaAnimation {
    
    from {left: -150px;}
    to {left: 10px;}
    
}

@keyframes entradaAnimation {
    
    from {left: -150px;}
    to {left: 10px;}
    
}

-webkit-@keyframes barcoAnimation  {
   
    0% {top: 55px;}
    50% {top: 70px;}
    100% {top: 55px;}
}

@keyframes barcoAnimation  {
    
    0% {top: 55px;}
    50% {top: 70px;}
    100% {top: 55px;}
    
}

-webkit-@keyframes aguaAnimation {
    
    0% {top: 250px; left: -25px;}
    50% {top: 257px; left: -22px;}
    100% {top: 250px; left: -18px;}
}

@keyframes aguaAnimation {
    
    0% {top: 250px; left: -25px;}
    50% {top: 257px; left: -22px;}
    100% {top: 250px; left: -18px;}
}


-webkit-@keyframes fadein {
    
    from {opacity: 0;}
    to {opacity: 1;}
    
}

@keyframes fadein {
    
    from {opacity: 0;}
    to {opacity: 1;}
    
}







