@font-face {
    
    font-family: simbolos;
    src: url("fonts/WebSymbols-Regular.otf");
    
}

#boton2 {
    
    background-color: rgb(245, 245, 245);
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    width: 270px;
    height: 60px;
    margin: 0 auto;
    text-align: left;
    
    transition: box-shadow 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out;
    
    -webkit-box-shadow: 0px 0px 0px 1px rgba(188,188,188,0.1);
    box-shadow: 0px 0px 0px 1px rgba(188,188,188,0.1);
    
}

#icono1, #icono2 {
    
    font-family: simbolos;
}

#icono1 {
    
    font-size: 25px;
    
    position: absolute;
    left: 25px;
    top: 15px;
    
    -webkit-transition:opacity 0.3s ease-in-out;
    transition:opacity 0.3s ease-in-out;
    
}

#icono2 {
	
    position: absolute;
    top: -50px;
    left: 33px;
    font-size: 40px;
    opacity: 0;
    transform: rotate(90deg);
    
    
    
}

#b2texto1 {
	
    font-size: 21px;
    color: #d7565b;
    font-weight: bold;
    display: block;
    line-height: 16px;
    margin-top: 15px;
    margin-left: 85px;
    
    
}

#b2texto2 {
    
    font-size:14px;
    color: black;
    margin-left: 85px;
    
}

#boton2:hover {
	
    background-color: white;
    -webkit-box-shadow: 0px 0px 9px gray;
    box-shadow: 0px 0px 9px gray;
    
}

#boton2:hover #icono1 {
	
    opacity: 0;
    
}

#boton2:hover #icono2 {
	
    opacity: 0.5;
    -webkit-animation: baja 0.9s linear infinite;
    animation: baja 0.9s linear infinite;
    
}

#boton2:active {
    
    background-color: #d7565b;
    box-shadow: 0px 2px 2px 0px #505050 inset;
    
}

#boton2:active #b2texto1 {
    
    color: white;
    text-shadow: 1px 1px 2px grey;
    
}

#boton2:active #b2texto2 {
    
    text-shadow: 1px 1px 2px grey;
    
}

@keyframes baja{
    0% { top: -55px; }
    100% { top: 55px;}
}

-webkit-@keyframes baja{
    0% { top: -55px; }
    100% { top: 55px;}
}